#checkingBox,
#selectBox {
  float: left;
  width: 180px;
  height: calc(100vh - 81px - 31px);
  background-color: $color2;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: visible;
  color: white;

  .containerForChecking {
    display: flex;
    flex-direction: column;

    .nextCheckbox {
      overflow: hidden;
      transition: 0.5s;
      height: 0;

      .mark {
        outline: 2px inset green;
      }
    }

    .visible {
      height: auto;
    }

    .forLabel {
      display: flex;
      align-items: center;
      border-bottom: 1px solid white;
      transition: 0.5s;
      //justify-content: space-between;

      .status {
        margin: 0 5px;
      }

      img {
        width: 20px;
        height: 20px;
        background: inherit;
      }

      input {
        display: none;
      }

      label {
        flex: 1;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      .hideImg {
        margin-left: 5px;
        float: right;

        .l-button {

          &.show {
            -webkit-transform: rotate(-180deg);
            transition: 0.3s;
          }

          &.hide {
            -webkit-transform: rotate(0deg);
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.showColorChildren {
  background-color: #C0602F;
  transition: 0.5s;
}

.showColorParent {
  background-color: #793D00;
}