.dataDash {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-between;

  .forEqAndFeat{
    display: flex;
    justify-content: space-between;

    .equipStatus {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-start;
      height: 70px;
      border-radius: 5px;
      background: antiquewhite;

      span {
        font-family: 'Arimo', sans-serif;
        font-style: italic;
      }
    }

    .forTabDisplay {
      height: 70px;

      .filter {
        padding: 0;
      }
    }
  }

  .equipDashboardWrapper {
    margin-top: 10px;
    flex: 1;

    .equipDashboard {
      height: 100%;
      border-radius: 5px;;
      background: antiquewhite;
      display: flex;
      flex-direction: column;

      .tables {
        margin: 5px;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        font-family: 'Arimo', sans-serif;
        font-style: italic;

        .featureChoice {
          flex: auto;
          text-align: center;
          border-radius: 5px;
          line-height: 3vh;
        }

        .featureChoice:hover {
          background-color: #C0602F;
          color: white;
          transition: 0.3s;
          cursor: pointer;
        }

        .active {
          background-color: #C0602F;
          color:white;
        }
      }

      .forChart {
        width: 98%;
        height: 90%;
      }

      .monitoring {
      }

      .forEquipInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;

        .iconName {
          margin-top: 10px;
        }
      }
    }
  }
}

@import 'DataDash/equipDashboard';