.checkingBox {
  float: left;
  min-width: 100px;
  height: calc(100vh - 81px - 31px);
  background-color: $color5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;

  #targetForCheckingBox {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        margin-left: 10px;

        div {
          display: flex;
          margin-left: 10px;

          div {
            display: flex;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

input {
  float: left;
}

span {
  float: left;
}