.mainTable {
  width: 95%;
  flex: 1;
  margin: 0 2vw;
  //border-radius: 5px;
  background: antiquewhite;
  margin-bottom: 2.5vh;
  display: flex;
  flex-direction: column;
  align-self: center;
}

//@import './MainTable/tableSheets';