@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700i&subset=cyrillic,cyrillic-ext');


$color1: #899CAB;
$color2: #688188;
$color3: #48616B;
$color4: #1E3933;
$color5: #222923;
$color8: #2B5817;
$colorForButtons: #D1D1CD;
$colorForContent: #ddddda;
$colorForText: white;
$black: black;
$inactive: #4D4D4D;
$noErrors: #00FF43;
$moreSuccess: #30BE56;
$moreErrors: #FF9500;
$noSuccess: #FF2300;

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

    .body {
        display: -webkit-flex;
        flex: 1;
        padding: 10px;

        div {
            font-family: 'Arimo', sans-serif;
        }
    }

    .footer {
        height: 30px;
        background-color: $color4;
        border-top: $color8 1px solid;
        z-index: 1;
    }

    .l-period_picker {
        left: 30%;
        top: 20%;
    }
}

::-webkit-scrollbar-thumb {
    background: $color2;
}
::-webkit-scrollbar-thumb:hover {
    background: $color5;
}


@media (max-width: 768px) {
    body {
        .body {
            padding: 0;

            #checkingBox {
                width: 25vw;

                .forLabel {
                    padding: 0;
                    padding-right: 5px;
                }

                .desktop {
                    display: none;
                }

                .tab {
                    display: block;
                }
            }

            div{
                font-size: 11px;
            }

            .forLabel:hover {
                background: antiquewhite;;
            }

            .dataDash {

                img {
                    width: 50px;
                    height: 50px;
                }
            }

        }
    }
}

@import "./Header/header";
//@import './Navigator/navigator';
@import './SideBar/checkingBox';
@import './Modules/dataDash';
@import './Modules/features';
