@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

$color1: #899CAB;
$color2: #688188;
$color3: #48616B;
$color4: #1E3933;
$color5: #222923;
$color8: #2B5817;
$colorForButtons: #D1D1CD;
$colorForContent: #ddddda;
$colorForText: white;
$black: black;

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    font-size: 10px;
}

.body {
    display: flex;
}

.header {
    width: 100%;
    height: 80px;
    background-color: $color2;
    border-bottom: $color8 1px solid;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: $color1;
    border-top: $color8 1px solid;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    color: $color5;
}

@import './Navigator/navigator';
@import './Modules/toggleContent';